.keyboard__button {
  background: #444;
  color: #fff;
  font-size: 1.5rem;
  padding: 15px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.keyboard__button:hover {
  background: #666;
}
